@mixin transition($param){
  -webkit-transition: $param;
  -moz-transition: $param;
  -ms-transition: $param;
  -o-transition: $param;
  transition: $param;
}

@mixin transform($param){
  -webkit-transform: $param;
  -moz-transform: $param;
  -ms-transform: $param;
  -o-transform: $param;
  transform: $param;
}

@mixin border-radius($param){
  -webkit-border-radius: $param;
  -moz-border-radius: $param;
  border-radius: $param;
}
@mixin user-select($param) {
  -webkit-user-select: $param;
  -moz-user-select: $param;
  -ms-user-select: $param;
  user-select: $param;
}

@mixin box-shadow($param){
  -webkit-box-shadow: $param;
  -moz-box-shadow: $param;
  box-shadow: $param;
}