.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-weight: normal;
    font-size: 30px;
    margin-top: 3rem;
  }

  &-body {
    width: 500px;
    background-color: #fff;

    &-type {
      width: 100%;
      display: flex;
      button {
        border: 0;
        font-size: 20px;
        padding: 20px 0;
        width: 50%;
        background-color: $white;
        @include transition(0.5s);
        &:hover{
          background-color: $white;
        }

        &.clicked {
          background-color: #fff;

        }
      }
    }
    &-register{
      display: none;
    }
    &-login, &-register{
      width: 100%;
      padding: 50px;
      input{
        margin-top: 20px;
        width: 80%;
        padding: 10px 20px;
        font-size: 15px;
        font-style: italic;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      button{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        background-color: $blue;
        color: #fff;
        border: 0;
        width: 60%;
        padding: 15px 0;
        margin-top: 25px;
        font-size: 18px;
        @include transition(0.5s);
        &:hover{
          background-color: darken($blue,10%);
        }
      }
    }
  }
}