.register {

  h2 {
    text-align: center;
    font-weight: 500;
    font-size: 27px;
    margin-top: 3rem;
  }

  &-form {
    width: 600px;
    display: flex;
	flex-direction: column;
    margin: 0 auto;


    &-identify, &-personal {
	background-color: #fff;
      margin-top: 2rem;
      padding: 50px;
      height: 100%;
	  z-index: 0;

      @include box-shadow(0px 0px 12px 0px rgba(0, 0, 0, 0.32));

      h3 {
        text-align: center;
        font-weight: 500;
        font-size: 26px;
        color: $blue;
      }

      em {
        display: block;
        text-align: center;
        font-size: 13px;
        margin-bottom: 3rem;

        span {
          color: $red;
        }
      }
    }

    &-newsletter {
      margin-top: 2rem;
      background-color: $black;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 30px;
      .label__checkbox {
        display: none;
      }

      .label__check {
        border-radius: 50%;
        border: 5px solid rgba(0,0,0,0.1);
        background: white;
        vertical-align: middle;
        margin-right: 20px;
        width: 3em;
        height: 3em;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border .3s ease;

        i.icon {
          opacity: 0.2;
          font-size: calc(1rem + 1vw);
          color: transparent;
          transition: opacity .3s .1s ease;
          -webkit-text-stroke: 3px rgba(0,0,0,.5);
        }

        &:hover {
          border: 5px solid rgba(0,0,0,0.2);
        }
      }

      .label__checkbox:checked + .label__text .label__check {
        animation: check .5s cubic-bezier(.48,.59,.47,.59) forwards;

        .icon {
          opacity: 1;
          transform: scale(0);
          color: white;
          -webkit-text-stroke: 0;
          animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
        }
      }


      @keyframes icon {
        from {
          opacity: 0;
          transform: scale(0.5);
        }
        to {
          opacity: 1;
          transform: scale(1)
        }
      }

      @keyframes check {
        0% {
          width: 1.5em;
          height: 1.5em;
          border-width: 5px;
        }
        10% {
          width: 1.5em;
          height: 1.5em;
          opacity: 0.1;
          background: rgba(0,0,0,0.2);
          border-width: 15px;
        }
        12% {
          width: 1.5em;
          height: 1.5em;
          opacity: 0.4;
          background: rgba(0,0,0,0.1);
          border-width: 0;
        }
        50% {
          width: 3em;
          height: 3em;
          background: $blue;
          border: 0;
          opacity: 0.6;
        }
        100% {
          width: 3em;
          height: 3em;
          background: $blue;
          border: 0;
          opacity: 1;
        }
      }
      p{
        color: $white;
        font-size: 15px;
      }
    }
  }
  button{
    display: block;
    margin: 2rem auto;
    border: 0;
    padding: 15px 40px;
    background-color: $blue;
    color: $white;
    font-size: 20px;
    @include border-radius(5px);
    @include transition(0.5s);
    &:hover{
      background-color: darken($blue,10%);
    }
  }
}
