.home-products {
    margin-top: 10rem;
    display: flex;
    justify-content: center;

    .product {
        position: relative;
        background-color: #fff;
        padding: 50px;
        padding-top: 150px;
        margin-left: 5px;
        margin-right: 5px;
        width: 300px;
        text-align: center;

        img {
            position: absolute;
            width: 250px;
            height: 250px;
            left: 20px;
            top: -112px;
        }

        a {
            font-size: 21px;
            color: $black;

            i {
                margin-left: 5px;
                margin-top: 3px;
                font-size: 19px;
                color: $blue;
            }
        }
    }
}
