.quality {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    div {
        margin-right: 3rem;
        display: flex;
        justify-content: center;

        i {
            font-size: 2rem;
        }

        p {
            padding-right: .5rem;
            padding-left: .25rem;
            font-size: 13px;
            text-align: center;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
