.account {
    margin-top: 3rem;

    & .account-panel {
                background-color: #fff;

        display: flex;
        flex-direction: column;
        align-items: center;
        @include box-shadow(0px 0px 12px 0px rgba(0, 0, 0, 0.32));
        padding: 0;
        margin-right: 2rem;
        height: 100%;

        img {
            margin-top: 20px;
            margin-bottom: 10px;

        }

        h3 {
            font-weight: 300;
            margin: 0 0 5px 0;
        }

        span {
            font-size: 12px;
        }

        a {
            margin-top: 2rem;
            cursor: pointer;
            @include transition(0.5s);

            i {
                color: #fff;
                background-color: $red;
                padding: 10px 10px;
                border-radius: 5px;
                font-size: 25px;
                margin-right: 10px;
            }

            &:hover {
                color: $red;
            }
        }

        ul {
            margin-top: 2rem;
            width: 100%;
            padding: 0;
            margin-bottom: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;

            li {
                text-align: center;
                display: block;
                width: 100%;
                border-bottom: 1px solid lighten($black, 50%);


                a {
                    text-decoration: none;
                    color: $black;
                    display: block;
                    padding: 25px 0;
                    margin-top: 0;
                    @include transition(0.2s);

                    &:hover {
                        background-color: $blue;
                        color: #fff;
                    }

                    &.active {
                        background-color: $blue;
                        color: #fff;
                    }
                }
            }
        }
    }
}
