.product-container {
  .filter {
    margin-top: 9.4rem;
    margin-right: 1rem;
    background-color: #fff;
    @include box-shadow(0px 0px 5px 0px rgba(0, 0, 0, 0.29));


    h4 {
      background-color: $black;
      text-transform: uppercase;
      color: #fff;
      padding: 5px 15px;
      font-size: 15px;
      font-weight: 300;
      font-family: Arial;
      position: relative;

      &:before {

        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: 100%;
        background-color: $blue;
      }
    }

    .brand {
      margin-bottom: 1rem;

      ul {
        padding: 0 20px;
        list-style: none;

        li {
          margin-bottom: 10px;

          input {
            margin: 0;
            padding: 0;
            width: auto;
            width: 25px;
          }
        }
      }
    }

    .price {
      margin-bottom: 1rem;

      .range {
        padding: 0 20px;
        margin-top: 4rem;
        margin-bottom: 4rem;
        .noUi-target {

        }

        .noUi-horizontal {
          height: 10px;
          margin-bottom: 30px;
        }

        .noUi-horizontal .noUi-handle {
          width: 30px;
          height: 30px;
          top: -10px;
          border-radius: 50%;
          outline: 0;
        }

        .noUi-connect {
          background-color: $blue;
        }

        .noUi-handle-upper {
          .noUi-tooltip {
            bottom: -38px;
          }
        }
      }
    }

    .available {
      padding-bottom: 1rem;

      div {
        padding: 0 20px;
      }

      input {
        width: auto
      }

      label {
        font-size: 13px;
      }
    }
  }
}
