.product-fiche {
    margin-top: 2rem;

    #{&}_desc {
        padding: 20px;
        @include box-shadow(0px 0px 12px 0px rgba(0, 0, 0, 0.32));
        background-color: #fff;

        h3 {
            margin: 0;
            font-size: 25px;
            font-weight: 300;

        }

        em {
            font-style: normal;

        }
    }

    &-content {
        margin-top: 2rem;
        padding-bottom: 2rem;
        @include box-shadow(0px 0px 12px 0px rgba(0, 0, 0, 0.32));
        background-color: #fff;
        padding-right: 2rem;
        padding-left: 2rem;

        img {
            display: block;
            vertical-align: center;
            width: 500px;
        }

        &_share {
            margin-top: 2rem;
            text-align: right;

            a {
                font-size: 20px;
                padding: 0 5px;
                i {
                    font-size: 30px;

                    &.fa-facebook {
                        color: #39559f;
                    }


                    &.fa-twitter-square {
                        color: #4fabf1;
                    }

                    &.fa-linkedin {
                        color: #0076b5;
                    }

                    &.fa-envelope-square {
                        color: darkgray;
                    }
                }

            }

        }

        p {
            text-align: justify;
            line-height: 25px;
            margin-top: 1rem;
            font-size: 15px;

        }

        &_addtocart {
            margin-top: 2rem;
            width: 100%;
            display: flex;
            height: 95px;


            &_left {
                display: flex;
                align-items: center;
                font-size: 30px;
                padding: 0.3rem 1.5rem 0.3rem 2rem;

                background-color: #efefef;

                h4 {
                    margin: 0;
                    font-weight: 300;

                }

                &_quantity {
                    margin: 0 2rem;

                    label {
                        display: block;
                        font-size: 15px;
                        text-align: center;
                    }

                    select {
                        cursor: pointer;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }

            &_right {
                padding: 2rem 3rem 2rem 2rem;
                background-color: $green;
                color: #fff;
                display: flex;
                align-items: center;
                position: relative;
                transition: all .2s ease;
                border: 0;

                i {
                    font-size: 30px;
                    color: #fff;
                }

                p {
                    margin: 0 0 0 1rem;
                    font-size: 21px;
                    text-align: inherit;
                }

                &:before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-top: 95px solid #73b43e;
                    border-left: 60px solid transparent;
                    top: 0;
                    left: -60px;
                    transition: all .2s ease;
                }

                &:hover {
                    background-color: darken($green, 10%);

                    &::before {
                        border-top: 95px solid darken($green, 10%);
                    }
                }
            }
        }
        
        &_dispo{
            padding: 0.5rem 0;
            margin-top: 2rem;
            width: 100%;
            border: 1px solid #efefef;
            p{
                margin: 0;
                text-align: center;
            }
            span{
                display: block;
                &.instock:before{
                    color: $green;
                    content: "EN STOCK";

                }
                &.outstock:before{
                    color: $red;
                    content: "RUPTURE DE STOCK";
                }

                text-align: center;
            }
            &.instock{
                border: 1px solid $green;
            }
            &.outstock{
                border: 1px solid $red;

            }
        }
    }
}
